* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
}


/* Header image that I've disabled from project one */

/* .header-img {
  display: block;
  width: 100vw;
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/cali.jpg') center/cover no-repeat fixed;
} */

/* Header with hero video */

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  padding: 350px 0;
  background: rgba(0, 0, 0, 0.7);
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

nav ul img {
  width: 30px;
  height: 30px;
}

nav ul {
  text-align: center;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 0;
  font-weight: 700;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 0.4rem 0;
}

.first-item {
  margin-right: 3rem;
}

/* Section + Articles */

article {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.article-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}

.human-flag {
  max-width: 30rem;
  max-height: 22rem;
  margin-top: 2.5rem;
}

.img-container {
  overflow: hidden;
  max-width: 30rem;
  max-height: 30rem;
  border: 0.5rem solid gray;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 1rem;
}

.img-container:hover .article-img {
  opacity: 0.5;
  transform: scale(1.2);
}

.article-text {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-bottom: rem;
}

.last-item {
  margin-left: 3rem;
}

/* Footer */

footer {
  background: lightgray;
  padding: 1rem;
  margin-top: 5rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

footer>p {
  font-size: 12px;
}

.footer-contact p:nth-child(2) {
  margin-bottom: 0;
}

.footer-info img {
  width: 100px;
}


/* Media Queries */

@media screen and (max-width: 874px) {

  nav ul,
  .hero,
  .article-text,
  .img-container,
  footer,
  .header-img {
    width: 90%;
    margin: auto;
  }

  .hero {
    margin-bottom: 3rem;
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 250px;
    position: relative;
  }

  .video-bg {
    width: 90%;
  }


  .img-container {
    max-width: 90%;
  }

  .article-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .img-container:nth-child(2),
  .img-container:last-child {
    margin-top: 1rem;
  }

  nav ul li {
    display: flex;
    justify-content: center;
  }

  nav ul {
    position: absolute;
    top: 0;
    left: 0;
  }

  .last-item {
    margin-left: 0;
  }

  .first-item {
    margin-right: 0.7rem;
  }

  article {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .img-container {
    margin-bottom: 3rem;
  }

  footer {
    margin: 1rem auto;
    flex-direction: column;
  }

}